In [1]:
import pandas as pd

In [9]:
df_home=pd.read_excel("C:\pandas\Machine Learning\Kaggle\laliga2020.xlsx",sheet_name="Sheet1")
df_home

               Squad  MP   W  D  L  GF  GA  GDiff  Pts
0          Barcelona  14  13  1  0  45  12     33   40
1        Real Madrid  13   9  4  0  27   9     18   31
2            Sevilla  13   6  5  2  19  13      6   23
3      Real Sociedad  13   8  2  3  27  12     15   26
4             Getafe  14   7  4  3  21  13      8   25
5    Atlético Madrid  14   8  5  1  20   9     11   29
6           Valencia  14   8  6  0  23  12     11   30
7         Villarreal  13   6  4  3  26  17      9   22
8            Granada  13   8  2  3  16   8      8   26
9      Athletic Club  13   7  3  3  15   7      8   24
10           Osasuna  14   5  5  4  20  20      0   20
11             Betis  14   7  3  4  27  21      6   24
12           Levante  13   7  3  3  19  12      7   24
13            Alavés  14   6  5  3  18  11      7   23
14        Valladolid  13   3  7  3  14  13      1   16
15             Eibar  14   6  1  7  19  20     -1   19
16        Celta Vigo  13   4  5  4  10  12     -2   17
17          Mallorca  14   6  2  6  16  14      2   20
18           Leganés  14   4  3  7  13  19     -6   15
19          Espanyol  13   1  5  7  12  24    -12    8

In [10]:
df_away=pd.read_excel("C:\pandas\Machine Learning\Kaggle\laliga2020.xlsx",sheet_name="Sheet2")
df_away

    MP  W  D   L  GF  GA  GDiff  Pts
0   13  5  3   5  18  19     -1   18
1   14  7  4   3  22  10     12   25
2   14  7  3   4  20  16      4   24
3   14  6  2   6  18  21     -3   20
4   13  6  3   4  16  12      4   21
5   13  3  7   3  11  12     -1   16
6   13  3  3   7  15  27    -12   12
7   14  5  1   8  18  21     -3   16
8   14  3  3   8  17  24     -7   12
9   14  2  7   5  14  16     -2   13
10  13  3  5   5  14  18     -4   14
11  13  1  6   6  11  22    -11    9
12  14  3  0  11  13  28    -15    9
13  13  2  3   8  11  26    -15    9
14  14  3  4   7   9  20    -11   13
15  13  1  5   7   8  21    -13    8
16  14  1  6   7  12  22    -10    9
17  13  1  2  10  12  30    -18    5
18  13  1  5   7   8  20    -12    8
19  14  3  3   8  11  22    -11   12

In [15]:
check_MP=df_home['MP']+df_away['MP']
check_W=df_home['W']+df_away['W']
check_D=df_home['D']+df_away['D']
check_L=df_home['L']+df_away['L']
check_GF=df_home['GF']+df_away['GF']
check_GA=df_home['GA']+df_away['GA']
check_GDiff=df_home['GDiff']+df_away['GDiff']
check_Pts=df_home['Pts']+df_away['Pts']

In [19]:
final_laliga_table=df_home
final_laliga_table['MP']=check_MP
final_laliga_table['W']=check_W
final_laliga_table['D']=check_D
final_laliga_table['L']=check_L
final_laliga_table['GF']=check_GF
final_laliga_table['GA']=check_GA
final_laliga_table['GDiff']=check_GDiff
final_laliga_table['Pts']=check_Pts
final_laliga_table

               Squad  MP   W   D   L  GF  GA  GDiff  Pts
0          Barcelona  27  18   4   5  63  31     32   58
1        Real Madrid  27  16   8   3  49  19     30   56
2            Sevilla  27  13   8   6  39  29     10   47
3      Real Sociedad  27  14   4   9  45  33     12   46
4             Getafe  27  13   7   7  37  25     12   46
5    Atlético Madrid  27  11  12   4  31  21     10   45
6           Valencia  27  11   9   7  38  39     -1   42
7         Villarreal  27  11   5  11  44  38      6   38
8            Granada  27  11   5  11  33  32      1   38
9      Athletic Club  27   9  10   8  29  23      6   37
10           Osasuna  27   8  10   9  34  38     -4   34
11             Betis  27   8   9  10  38  43     -5   33
12           Levante  27  10   3  14  32  40     -8   33
13            Alavés  27   8   8  11  29  37     -8   32
14        Valladolid  27   6  11  10  23  33    -10   29
15             Eibar  27   7   6  14  27  41    -14   27
16        Celta Vigo  27   5  11  11  22  34    -12   26
17          Mallorca  27   7   4  16  28  44    -16   25
18           Leganés  27   5   8  14  21  39    -18   23
19          Espanyol  27   4   8  15  23  46    -23   20

In [24]:

x=final_laliga_table[['MP','W','D','L','GDiff']]
x

    MP   W   D   L  GDiff
0   27  18   4   5     32
1   27  16   8   3     30
2   27  13   8   6     10
3   27  14   4   9     12
4   27  13   7   7     12
5   27  11  12   4     10
6   27  11   9   7     -1
7   27  11   5  11      6
8   27  11   5  11      1
9   27   9  10   8      6
10  27   8  10   9     -4
11  27   8   9  10     -5
12  27  10   3  14     -8
13  27   8   8  11     -8
14  27   6  11  10    -10
15  27   7   6  14    -14
16  27   5  11  11    -12
17  27   7   4  16    -16
18  27   5   8  14    -18
19  27   4   8  15    -23

In [25]:
y=final_laliga_table['Pts']
y

0     58
1     56
2     47
3     46
4     46
5     45
6     42
7     38
8     38
9     37
10    34
11    33
12    33
13    32
14    29
15    27
16    26
17    25
18    23
19    20
Name: Pts, dtype: int64

In [29]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(x,y,test_size=0.1)

AttributeError: module 'sklearn.linear_model' has no attribute 'Linear_Regression'

In [30]:
reg=linear_model.LinearRegression()
reg.fit(X_train,y_train)

LinearRegression()

In [38]:
reg.predict([[27,11,5,11,6]])

array([38.])

In [33]:
reg.score(X_test,y_test)

1.0